<div class = "footer">
        
    <div class = "footer-top">
        <span id = "logo">.zing</span>
        <select class = "options">
            <option>English</option>
            <option>हिन्दी</option>
            <option>తెలుగు</option>
            <option>Español</option>
        </select>
        <select class = "options">
            <option>India</option>
            <option>U.S.A</option>
            <option>Mexico</option>
            <option>Brazil</option>
        </select>
    </div>
    
    <div class = "inner-footer">
        <div class = "footer-items">
            <ul>
                <li><h2>COMPANY</h2></li>
                <li><a href = "#">About</a></li>
                <li><a href = "#">Blog</a></li>
                <li><a href = "#">Careers</a></li>
                <li><a href = "#">Report Fraud</a></li>
                <li><a href = "tel:9381314137">Contact</a></li>
            </ul>
        </div>
        <div class = "footer-items">
            <ul>
                <li><h2>FOR FOODIES</h2></li>
                <li><a href = "#">Code of Conduct</a></li>
                <li><a href = "#">Community</a></li>
                <li><a href = "#">Blogger Help</a></li>
                <li><a href = "#">Developers</a></li>
                <li><a href = "#">Mobile Apps</a></li>
            </ul>
        </div>
        <div class = "footer-items">
            <ul>
                <li><h2>FOR RESTAURANTS</h2></li>
                <li><a href = "#">Add Restaurant</a></li>
                <li><a href = "#">Claim your Listing</a></li>
                <li><a href = "#">Business App</a></li>
                <li><a href = "#">Restaurant Widgets</a></li>
                <li><a href = "#">Products for Businesses</a></li>
            </ul>
        </div>
        <div class = "footer-items">
            <ul>
                <li><h2>FOR YOU</h2></li>
                <li><a href = "#">Privacy</a></li>
                <li><a href = "#">Terms</a></li>
                <li><a href = "#">Security</a></li>
                <li><a href = "#">Sitemap</a></li>
                <li><a href = "#">Back to Top</a></li>
            </ul>
        </div> 
        <div class = "footer-items">
            <ul>
                <li><h2>SOCIAL LINKS</h2></li>
                <li><a href = "#"><i class = "fa fa-facebook"></i></a><a href = "#"><i class = "fa fa-twitter"></i></a><a href = "#"><i class = "fa fa-instagram"></i></a></li>
                <li id = "app"><a href = "/getapp"><i class = "fa fa-apple"></i><p class = "small">Download on the</p> <p class = "big">App Store</p></a></li>
                <li id = "app"><a href = "/getapp"><i class = "fa fa-google-plus"></i><p class = "small">GET IT ON</p> <p class = "big">Google Play</p></a></li>
            </ul>
        </div>
    </div>
    
    <div class = "footer-bottom">
        <p>By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content Policies. All trademarks are properties of their respective owners. 2008-2020 Â© .zingâ„¢ Media Pvt Ltd. All rights reserved.</p>
    </div>
    
</div>