<!DOCTYPE html>
<html>
<head>
    <title>Under Construction</title>
    <link rel = "icon" href = "../images/hamburger.png">
    <link type = "text/css" rel = "stylesheet" href = "../css/style1.css">
    
    <style>
        body{
            
/*            background: url(../images/bg2.jpg);*/
/*            background-size: cover;*/
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 10px;
            font-weight: bold;
            font-size: 1.4em;
        }
        i{
            
            padding: 5px;
            color: rgb(240, 0, 0);
        }
        p{
            
            margin: 10px;
            font-size: 1.2em;
        }
        p:hover{
            
            text-decoration: underline;
        }
    </style>
</head>
<body>
    
    <i class = "fa fa-warning"></i>
    <span style = "color: red;">Warning</span> : The app is still under construction. We'll notify you once it is completed.
    <p><a href = "/index">Back to Home</a></p>
    
</body>
</html>