<!DOCTYPE html>
<html>

<%- include('./partials/head.ejs') %>
<title> Home </title>

<body>
    
    <div class = "header">
        <a href = "/getapp"><i class = "fa fa-mobile"> <span style = "font-family: Helvetica; font-size: 80%;">Get the App</span></i></a>
        <a class = "link" href = "/signup">Signup</a><a class = "link" href = "/login">Login</a>
        <div class = "head">
            <h1>.zing</h1>
            <h2>Discover the best food & drinks in Hyderabad</h2>
            <div id = "box">
                <i id = "location" class = "fa fa-map-marker"></i>
                <select>
                    <option>Kukatpally, Hyderabad</option>
                    <option>KPHB Colony, Hyderabad</option>
                    <option>Ameerpet, Hyderabad</option>
                    <option>Paradise, Secunderabad</option>
                </select>
                <input type = "text" placeholder = "Search for restaurant, cuisine or a dish">
                <a id = "search" href = "#"><i class = "fa fa-search"></i></a>
            </div>
        </div>
    </div>
    
    <div style = "text-align: left; padding-bottom: 0;" class = "main">
        
        <div id = "menu">
            <a class = "menu-option" href = "#"><img class = "image" src = "./images/food1.jpg"><p>Order Online</p></a>
            <a class = "menu-option" href = "#"><img class = "image" src = "./images/food2.jpg"><p>Dineout Nearby</p></a>
            <a class = "menu-option" href = "#"><img class = "image" src = "./images/food3.jpg"><p>Nightlife & Clubs</p></a>
            <a class = "menu-option" href = "#"><img class = "image" src = "images/food4.jpg"><p><b>.zing</b> Premium</p></a>
        </div>
        
        <div style = "background-color: white; font-size: 20px; border: none;" class = "footer">
            <h2>Cities We Deliver To</h2>
            <div style = "border: none;" class = "inner-footer">
                <div class = "footer-items">
                    <ul>
                        <li><a href = "#">Hyderabad</a></li>
                        <li><a href = "#">Secunderabad</a></li>
                        <li><a href = "#">Warangal</a></li>
                        <li><a href = "#">Karimnagar</a></li>
                        <li><a href = "#">Adilabad</a></li>
                        <li><a href = "#">Peddapalli</a></li>
                        <li><a href = "#">Kalwakurthy</a></li>
                        <li><a href = "#">Guntur</a></li>
                    </ul>
                </div>
                <div class = "footer-items">
                    <ul>
                        <li><a href = "#">Kaghaznagar</a></li>
                        <li><a href = "#">Mumbai</a></li>
                        <li><a href = "#">Pune</a></li>
                        <li><a href = "#">Nagpur</a></li>
                        <li><a href = "#">Aurangabad</a></li>
                        <li><a href = "#">Yavatmal</a></li>
                        <li><a href = "#">Nashik</a></li>
                        <li><a href = "#">Shirdi</a></li>
                    </ul>
                </div>
                <div class = "footer-items">
                    <ul>
                        <li><a href = "#">Bhongiri</a></li>
                        <li><a href = "#">Kothagudem</a></li>
                        <li><a href = "#">Jagtial</a></li>
                        <li><a href = "#">Laxmipur</a></li>
                        <li><a href = "#">Sirpur</a></li>
                        <li><a href = "#">Nellore</a></li>
                        <li><a href = "#">Kadapa</a></li>
                        <li><a href = "#">Korutla</a></li>
                    </ul>
                </div>
                <div class = "footer-items">
                    <ul>
                        <li><a href = "#">Nizamabad</a></li>
                        <li><a href = "#">Nalgonda</a></li>
                        <li><a href = "#">Kurnool</a></li>
                        <li><a href = "#">Ramagundam</a></li>
                        <li><a href = "#">New Delhi</a></li>
                        <li><a href = "#">Vishakapatnam</a></li>
                        <li><a href = "#">Rajahmundry</a></li>
                        <li><a href = "#">Coonoor</a></li>
                    </ul>
                </div>
                <div class = "footer-items">
                    <ul>
                        <li><a href = "#">Patna</a></li>
                        <li><a href = "#">Mussorie</a></li>
                        <li><a href = "#">Bangalore</a></li>
                        <li><a href = "#">Amaravati</a></li>
                        <li><a href = "#">Vijayawada</a></li>
                        <li><a href = "#">Mangalore</a></li>
                        <li><a href = "#">Kakinada</a></li>
                        <li><a href = "#">Ooty</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
    
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>