<!DOCTYPE html>
<html>

<%- include('./partials/head.ejs') %>
<title> Login </title>

<body>
    
    <div id = "bg">
        <div class = "header">
            <a href = "/index" style = "font-family: 'Chiller'; font-size: 3em;">.zing</a><a class = "link" href = "/signup">Sign up</a>
        </div>
    
        <div class = "main">
            <h1>Login</h1>
            <i class = "fa fa-user-circle-o"></i>
            <input type = "text" placeholder = "Username"> <br>
            <i class = "fa fa-lock"></i>
            <input type = "text" placeholder = "Password"> <br>
<!--            <input checked type = "checkbox"><span style = "font-size: 90%;padding: 0 110px 0 5px;">Show Password</span><br>-->
            <button>Login</button>
        </div>
    </div>
    
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>